<xf:h1>{$xf.options.boardTitle}</xf:h1>
<xf:if is="{$xf.options.forumsDefaultPage} != 'thtopic_new_threads'">
	<xf:title page="{$page}">{{ phrase('thtopics_new_threads') }}</xf:title>
</xf:if>

<xf:macro template="metadata_macros" name="metadata"
	arg-description="{$xf.options.boardDescription}" />

<xf:if is="$page > 1 OR $originalFindNewId">
	<xf:head option="metaNoindex"><meta name="robots" content="noindex" /></xf:head>
</xf:if>
<xf:if is="$page <= 1">
	<xf:macro template="metadata_macros" name="canonical_url" arg-canonicalUrl="{{ link('canonical:' . $selfRoute) }}" />
</xf:if>

<xf:wrap template="forum_overview_wrapper">
	<xf:set var="$pageSelected">new_posts</xf:set>
</xf:wrap>

<xf:page option="uix_mainTabSets" value="forum" />
<xf:page option="uix_mainTabActive" value="newThreads" />

<xf:widgetpos id="thtopics_forum_new_threads_sidebar" position="sidebar" context-filterBarVisible="{{ $xf.visitor.user_id > 0 && $xf.options.thtopics_topicFilterWhatsNewPages }}" />
<xf:widgetpos id="thtopics_forum_new_threads_sidenav" position="sidenav" />
<xf:if is="{$xf.options.forumsDefaultPage} != 'thtopic_new_threads'">
	<xf:widgetpos id="thuix_index_page" position="sidebar" />
</xf:if>

<xf:if is="$canInlineMod">
	<xf:js src="xf/inline_mod.js" min="1" />
</xf:if>

<xf:widgetpos id="thtopics_forum_new_threads_above_threads" />

<div class="block" data-xf-init="{{ $canInlineMod ? 'inline-mod' : '' }}" data-type="thread" data-href="{{ link('inline-mod') }}">
	<xf:if is="$findNew.result_count">
		<div class="block-outer"><xf:trim>
			<xf:pagenav
				page="{$page}" perpage="{$perPage}" total="{$findNew.result_count}"
				link="forums/new-threads" params="{{ {'f': $findNew.find_new_id} }}"
				wrapperclass="block-outer-main" />

			<xf:if contentcheck="true">
				<div class="block-outer-opposite">
					<div class="buttonGroup">
					<xf:contentcheck>
						<xf:macro template="whats_new_posts" name="buttons"
							arg-findNew="{$findNew}"
							arg-canInlineMod="{$canInlineMod}" />
					</xf:contentcheck>
					</div>
				</div>
			</xf:if>
		</xf:trim></div>
	</xf:if>

	<div class="block-container">
		<xf:macro template="whats_new_posts" name="filter_bar"
			arg-findNew="{$findNew}"
			arg-rerunRoute="forums/new-threads"
			arg-rerunQuery="{{ {'f': $findNew.find_new_id} }}"
			arg-filterRoute="forums/new-threads" />

		<xf:macro template="thtopics_whats_new_threads" name="results"
			arg-findNew="{$findNew}"
			arg-threads="{$threads}"
			arg-latestRoute="forums/new-threads" />
	</div>

	<xf:if is="$findNew.result_count">
		<div class="block-outer block-outer--after">
			<xf:pagenav
				page="{$page}" perpage="{$perPage}" total="{$findNew.result_count}"
				link="forums/new-threads" params="{{ {'f': $findNew.find_new_id} }}"
				wrapperclass="block-outer-main" />

			<xf:showignored wrapperclass="block-outer-opposite" />
		</div>
	</xf:if>
</div>

<xf:widgetpos id="thtopics_forum_new_threads_below_threads" />