<xf:title>{{ phrase('thtopics_watched_topics') }}</xf:title>

<xf:if is="$topics is not empty">
	<xf:form action="{{ link('watched/topics/update') }}" ajax="true" class="block" autocomplete="off">

		<div class="block-outer">

			<div class="block-outer-opposite">
				<xf:button class="button--link menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true">{{ phrase('thtopics_manage_watched_topics') }}</xf:button>
				<div class="menu" data-menu="menu" aria-hidden="true">
					<div class="menu-content">
						<h3 class="menu-header">{{ phrase('thtopics_manage_watched_topics') }}</h3>
						<!--[XF:manage_menu:top]-->
						<a href="{{ link('watched/topics/manage', null, {'state': 'watch_no_email'}) }}" data-xf-click="overlay" class="menu-linkRow">{{ phrase('disable_email_notification') }}</a>
						<a href="{{ link('watched/topics/manage', null, {'state': 'delete'}) }}" data-xf-click="overlay" class="menu-linkRow">{{ phrase('thtopics_stop_watching_topics') }}</a>
						<!--[XF:manage_menu:bottom]-->
					</div>
				</div>
			</div>
		</div>

		<div class="block">
			<div class="thTopicList thTopicList--full">
				<xf:foreach loop="$topics" key="$id" value="$topic">
					<xf:set var="$bonusInfo">
						<ul class="listInline listInline--bullet">
							<xf:if is="{$topic.Watch.{$xf.visitor.user_id}.notify_on} == 'thread'">
								<li>{{ phrase('new_threads') }}</li>
								<xf:elseif is="{$topic.Watch.{$xf.visitor.user_id}.notify_on} == 'message'" />
								<li>{{ phrase('new_messages') }}</li>
							</xf:if>
							<xf:if is="{$topic.Watch.{$xf.visitor.user_id}.send_alert}"><li>{{ phrase('alerts') }}</li></xf:if>
							<xf:if is="{$topic.Watch.{$xf.visitor.user_id}.send_email}"><li>{{ phrase('emails') }}</li></xf:if>
						</ul>
					</xf:set>
					<xf:macro template="thtopics_topic_macros"
							  name="full"
							  arg-showSubTopics="{{ false }}"
							  arg-topic="{$topic}"
							  arg-extraClass="th_topicList__topic"
							  arg-bonusInfo="{$bonusInfo}"
							  arg-chooseItem="true"
							  />
				</xf:foreach>

				<div class="th_topics__noResults block-row">
					{{ phrase('no_results_found') }}
				</div>
			</div>
		</div>
		
		<div class="block-container">
			<div class="block-footer block-footer--split">
				<span class="block-footer-counter"></span>
				<span class="block-footer-select"><xf:checkbox standalone="true">
					<xf:option class="input--inline" check-all="< .block" label="{{ phrase('select_all') }}" />
					</xf:checkbox></span>
				<span class="block-footer-controls">
					<xf:select name="action" class="input--inline">
						<xf:option>{{ phrase('with_selected...') }}</xf:option>
						<!--[XF:action_menu:top]-->
						<xf:option value="email">{{ phrase('enable_email_notification') }}</xf:option>
						<xf:option value="no_email">{{ phrase('disable_email_notification') }}</xf:option>
						<xf:option value="alert">{{ phrase('enable_alerts') }}</xf:option>
						<xf:option value="no_alert">{{ phrase('disable_alerts') }}</xf:option>
						<xf:option value="delete">{{ phrase('stop_watching') }}</xf:option>
						<!--[XF:action_menu:bottom]-->
					</xf:select>
					<xf:button type="submit">{{ phrase('go') }}</xf:button>
				</span>
			</div>
		</div>
	</xf:form>
<xf:else />
	<div class="blockMessage">{{ phrase('thtopics_you_not_watching_any_topics') }}</div>
</xf:if>