<xf:h1>{$xf.options.boardTitle}</xf:h1>
<xf:if is="{$xf.options.forumsDefaultPage} != 'thtopic_all_threads'">
	<xf:title page="{$page}">{{ phrase('thtopics_all_threads') }}</xf:title>
</xf:if>

<xf:head option="rss_forum"><link rel="alternate" type="application/rss+xml" title="{{ phrase('rss_feed_for_x', {'title': $xf.options.boardTitle})|for_attr }}" href="{{ link('forums/index.rss', '-') }}" /></xf:head>

<xf:page option="uix_mainTabSets" value="forum" />
<xf:page option="uix_mainTabActive" value="allThreads" />

<xf:widgetpos id="thtopics_all_threads_sidebar" position="sidebar" context-filterBarVisible="{{ $xf.options.thtopics_topicFilterForumPages }}" />
<xf:widgetpos id="thtopics_all_threads_sidenav" position="sidenav" />
<xf:if is="{$xf.options.forumsDefaultPage} != 'thtopic_all_threads'">
	<xf:widgetpos id="thuix_index_page" position="sidebar" />
</xf:if>

<xf:wrap template="forum_overview_wrapper" />

<xf:css src="structured_list.less" />

<xf:page option="searchConstraints" value="{{ {
	phrase('threads'): {'search_type': 'post'}
} }}" />

<xf:pageaction if="$xf.visitor.canCreateThread()">
	<xf:button href="{{ link('forums/create-thread') }}" class="button--cta" icon="write" overlay="true">
		{{ phrase('post_thread...') }}
	</xf:button>
</xf:pageaction>

<xf:if is="$canInlineMod">
	<xf:js src="xf/inline_mod.js" min="1" />
</xf:if>

<xf:widgetpos id="thtopics_all_threads_above_threads" />

<div class="block"
	 data-xf-init="{{ $canInlineMod ? 'inline-mod' : '' }}"
	 data-type="thread"
	 data-href="{{ link('inline-mod') }}">

	<div class="block-outer"><xf:trim>
		<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
			link="forums/all-threads" params="{$filters}"
			wrapperclass="block-outer-main" />
		<xf:if contentcheck="true">
			<div class="block-outer-opposite">
				<div class="buttonGroup">
				<xf:contentcheck>
					<xf:if is="$canInlineMod">
						<xf:macro template="inline_mod_macros" name="button" />
					</xf:if>
					<xf:if is="$topic">
						<xf:if is="$xf.visitor.user_id">
							<xf:button href="{{ link('topics/mark-read', $topic, {'date': $xf.time}) }}"
								class="button--link" overlay="true">
								{{ phrase('mark_read') }}
							</xf:button>
						</xf:if>
						<xf:if is="$topic.canWatch()">
							<xf:button href="{{ link('topics/watch', $topic) }}" class="button--link"
								data-xf-click="switch-overlay"
								data-sk-watch="{{ phrase('watch') }}"
								data-sk-unwatch="{{ phrase('unwatch') }}">
								<xf:if is="{$topic.Watch.{$xf.visitor.user_id}}">{{ phrase('unwatch') }}<xf:else />{{ phrase('watch') }}</xf:if>
							</xf:button>
						</xf:if>
					<xf:elseif is="$forum" />
						<xf:if is="$xf.visitor.user_id">
							<xf:button href="{{ link('forums/mark-read', $forum, {'date': $xf.time}) }}"
								class="button--link" overlay="true">
								{{ phrase('mark_read') }}
							</xf:button>
						</xf:if>
						<xf:if is="$forum.canWatch()">
							<xf:button href="{{ link('forums/watch', $forum) }}" class="button--link"
								data-xf-click="switch-overlay"
								data-sk-watch="{{ phrase('watch') }}"
								data-sk-unwatch="{{ phrase('unwatch') }}">
								<xf:if is="{$forum.Watch.{$xf.visitor.user_id}}">{{ phrase('unwatch') }}<xf:else />{{ phrase('watch') }}</xf:if>
							</xf:button>
						</xf:if>
					</xf:if>
				</xf:contentcheck>
				</div>
			</div>
		</xf:if>
	</xf:trim></div>

	<xf:set var="$dateLimits" value="{{ {
		'-1': phrase('any_time'),
		'7': phrase('x_days', {'days': '7'}),
		'14': phrase('x_days', {'days': '14'}),
		'30': phrase('x_days', {'days': '30'}),
		'60': phrase('x_months', {'months': '2'}),
		'90': phrase('x_months', {'months': '3'}),
		'182': phrase('x_months', {'months': '6'}),
		'365': phrase('1_year')
	} }}" />
	<xf:set var="$sortOrders" value="{{ {
		'last_post_date': phrase('last_message'),
		'post_date': phrase('first_message'),
		'title': phrase('title'),
		'reply_count': phrase('replies'),
		'view_count': phrase('views'),
		'first_post_likes': phrase('first_message_likes')
	} }}" />

	<div class="block-container">
		<div class="block-filterBar">
			<div class="filterBar">
				<xf:if contentcheck="true">
					<ul class="filterBar-filters">
					<xf:contentcheck>
						<xf:if is="{$xf.options.thtopics_topicFilterForumPages}">
							<xf:include template="thtopics_filterbar_topics" />
						</xf:if>
						<xf:if is="$filters.prefix_id">
							<li><a href="{{ link('forums/all-threads', null, $filters|replace('prefix_id', null)) }}"
								class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('remove_this_filter')|for_attr }}">
								<span class="filterBar-filterToggle-label">{{ phrase('prefix:') }}</span>
								{{ prefix_title('thread', $filters.prefix_id) }}</a></li>
						</xf:if>
						<xf:if is="$filters.starter_id AND $starterFilter">
							<li><a href="{{ link('forums/all-threads', null, $filters|replace('starter_id', null)) }}"
								class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('remove_this_filter')|for_attr }}">
								<span class="filterBar-filterToggle-label">{{ phrase('started_by:') }}</span>
								{$starterFilter.username}</a></li>
						</xf:if>
						<xf:if is="$filters.last_days AND {$dateLimits.{$filters.last_days}}">
							<li><a href="{{ link('forums/all-threads', null, $filters|replace('last_days', null)) }}"
								class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('remove_this_filter')|for_attr }}">
								<span class="filterBar-filterToggle-label">{{ phrase('last_updated:') }}</span>
								{$dateLimits.{$filters.last_days}}</a></li>
						</xf:if>
						<xf:if is="$filters.order AND {$sortOrders.{$filters.order}}">
							<li><a href="{{ link('forums/all-threads', null, $filters|replace({'order': null, 'direction': null})) }}"
								class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('return_to_default_order')|for_attr }}">
								<span class="filterBar-filterToggle-label">{{ phrase('sort_by:') }}</span>
								{$sortOrders.{$filters.order}}
								<i class="fa {{ $filters.direction == 'asc' ? 'fa-angle-up' : 'fa-angle-down' }}" aria-hidden="true"></i>
								<span class="u-srOnly"><xf:if is="$filters.direction == 'asc'">{{ phrase('ascending') }}<xf:else />{{ phrase('descending') }}</xf:if></span>
							</a></li>
						</xf:if>
					</xf:contentcheck>
					</ul>
				</xf:if>

				<a class="filterBar-menuTrigger" data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">{{ phrase('filters') }}</a>
				<div class="menu menu--wide" data-menu="menu" aria-hidden="true"
					data-href="{{ link('forums/filters', null, $filters) }}"
					data-load-target=".js-filterMenuBody">
					<div class="menu-content">
						<h4 class="menu-header">{{ phrase('show_only:') }}</h4>
						<div class="js-filterMenuBody">
							<div class="menu-row">{{ phrase('loading...') }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="block-body" data-thtopic-replace="replace">
			<div class="structItemContainer">
				<xf:if is="$threads is not empty">
					<xf:if is="{$forum}">
						<xf:macro template="thread_list_macros" name="quick_thread"
							arg-forum="{$forum}"
							arg-page="0"
							arg-order="{$sortInfo.order}"
							arg-direction="{$sortInfo.direction}" />
					</xf:if>
					<div class="structItemContainer-group js-threadList">
						<xf:foreach loop="$threads" value="$thread">
							<xf:macro template="thread_list_macros"
									  name="item"
									  arg-thread="{$thread}"
									  arg-forum="{$forum}" />
						</xf:foreach>
						<xf:if is="$showDateLimitDisabler">
							<div class="structItem structItem--note">
								<div class="structItem-cell">
									<a href="{{ link('forums/all-threads', null, $filters + {'page': $page, 'no_date_limit': 1}) }}">
										{{ phrase('show_older_items') }}
									</a>
								</div>
							</div>
						</xf:if>
					</div>
				<xf:else />
					<div class="structItemContainer-group js-threadList">
						<div class="structItem js-emptyThreadList">
							<div class="structItem-cell">{{ phrase('there_no_threads_matching_your_filters') }}</div>
						</div>
					</div>
				</xf:if>
			</div>
		</div>
	</div>

	<div class="block-outer block-outer--after">
		<xf:pagenav
			page="{$page}" perpage="{$perPage}" total="{$total}"
			link="forums/all-threads" params="{$filters}"
			wrapperclass="block-outer-main" />
		<xf:showignored wrapperclass="block-outer-opposite" />
		<xf:if is="!$xf.visitor.canCreateThread()">
			<div class="block-outer-opposite">
				<xf:if is="$xf.visitor.user_id">
					<span class="button is-disabled">
						{{ phrase('no_permission_to_post') }}
						<!-- this is not interactive so shouldn't be a button element -->
					</span>
				<xf:else />
					<xf:button href="{{ link('login') }}" class="button--link" overlay="true">
						{{ phrase('log_in_or_register_to_post') }}
					</xf:button>
				</xf:if>
			</div>
		</xf:if>
	</div>
</div>

<xf:widgetpos id="thtopics_all_threads_below_threads" />